@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <div class="flex"></div>
    <h1 class="display-4">Welcome</h1>
    <p class="text-red-800">Hello, This is Tailwindcss & .NET 8</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>